<%= form_for([@post, @post.comments.build], :html => {:role => "form"}) do |f| %>
  <h3 class="form-signin-heading">Agrega un comentario</h3>
  <div class="form-group">
    <%= f.label :commenter, "Nombre" %>
    <%= f.text_field :commenter, :class => "form-control" %>    
  </div>
  <div class="form-group">
    <%= f.label :body, "Comentario" %>
    <%= f.text_area :body, :class => "form-control", :rows => "8" %>    
  </div>
  <div class="form-group">
    <%= f.submit "Publicar", :class => "btn btn-primary" %>    
  </div>
<% end %>