<div class="page-header">
<h1>
	Posts
	<%= link_to "Nuevo post", new_post_path, :class => "btn btn-primary pull-right" %>	
</h1>
</div>
<div class="table-responsive">
	<table class="table table-hover">
		<tr> 
			<th>Titulo</th>
			<th>Texto</th>
			<th>Acciones</th>			
		</tr>
		<% @posts.each do |post| %>
			<tr>
				<td><%= post.title %></td>
				<td><%= truncate(post.text, :length => 100) %></td>
				<td>
					<%= link_to '', post_path(post), :class => "glyphicon glyphicon-eye-open", "data-toggle" => "tooltip", "data-placement" => "top", "data-title" => "Ver", "data-trigger" => "hover" %>
					<%= link_to '', edit_post_path(post), :class => "glyphicon glyphicon-edit",  "data-toggle" => "tooltip", "data-placement" => "top", "data-title" => "Editar", "data-trigger" => "hover" %>
					<%= link_to '', post_path(post), method: :delete, data: { confirm: '¿Estás seguro?' }, :class => "glyphicon glyphicon-remove",  "data-toggle" => "tooltip", "data-placement" => "top", "data-title" => "Eliminar", "data-trigger" => "hover" %>
				</td>
			</tr>
		<% end %>
	</table>	
</div>
